*{
    margin: 0.75em auto;
}
body {
    font-family: 'Roboto', sans-serif;
    max-width: 300px;
    min-height: 500px;
    color: rgba(0, 0, 0, 0.719);
}
.row {
    line-height: 1.6;
}

h3 {
    display: inline;
}

h2 {
    color: #FF7A00;
}


